{% if  portal.current_page != 'csat_survey' %}  
  
  {% unless portal.current_tab == 'home' %}
    {% assign is_visible = 'is-visible' %}
  {% endunless %}

  <header class="header header--white {{ is_visible }}">
    <div class="flex-container">
      <a href="/" class="header__logo">
        <img src="https://s3.amazonaws.com/thinkific/file_uploads/565/images/513/a4b/fd8/thinkific-logo.png" alt="{{ portal.name }} logo">
      </a>
      <nav class="header__site-nav" >
        <div class="nav-link" id="header-tabs"> 
          <a href="/support/solutions" class="header-tabs__link">Solutions</a>
          <a href="/support/discussions" class="header-tabs__link ">Forums</a>
        </div>
      </nav>
      <div class="header-search">
        <form class="header-search-form" 
              autocomplete="off" 
              action="/support/search" 
              id="header-search-form">
          <input placeholder="Enter your search term here..." 
                 type="text" 
                 name="term" 
                 class="header-search-input" 
                 value="" 
                 data-max-matches="10" 
                 id="header-search-input" 
                 autocomplete="off">
          <input type="hidden" 
                 name="authenticity_token" 
                 value="2y6ez+hc/laSH0c2IFSvMcUD8E57dN+icWLZ+ocerZo=">
        </form>
      </div>

      <nav class="header__account-nav">
        {% if portal.has_user_signed_in == true %}
          <a href="{{ portal.new_ticket_url }}" class="x-btn x-btn-primary x-btn-sm">
            New Ticket
          </a>

          <div class="header__account-nav--logged-in">
            {% if portal.user.profile_url != false %}   
              <img class="profile-picture" src="{{ portal.user.profile_url }}" />
            {% else %}
              <img class="profile-picture" src="/images/fillers/profile_blank_thumb.gif" />
            {% endif %}
            <div class="dropdown" id="action-bar-toggle">
              <a class="dropdown-toggle profile-name" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">{{ current_user.name }}<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <a href="/support/profile/edit">Edit Profile</a>
                <a href="/logout">Sign Out</a>
              </ul>
            </div>
          </div>
        {% else %}
          <a href="/support/tickets/new" class="header-tabs__link">Contact us</a>
          <a href="/support/login" class="header-tabs__link">Sign in</a>
          <a href="https://www.thinkific.com/signin/" class="x-btn x-btn-primary x-btn-sm">
            Get Started Free
          </a>
        {% endif %}
      </nav>

    </div>
  </header>

  {% if portal.current_tab == 'home' %}
    <header class="header">
      <div class="flex-container">
        <a href="/" class="header__logo">
          <img src="{{ portal.logo_url }}" alt="{{ portal.name }} logo">
        </a>

        <nav class="header__site-nav" >
          <div class="nav-link" id="header-tabs"> 
            <a href="/support/solutions" class="header-tabs__link">Solutions</a>
            <a href="/support/discussions" class="header-tabs__link ">Forums</a>
          </div>
        </nav>

        <nav class="header__account-nav">
          {% if portal.has_user_signed_in == true %}

            <a href="{{ portal.new_ticket_url }}" class="x-btn x-btn-primary x-btn-sm">
              New Ticket
            </a>

            <div class="header__account-nav--logged-in">
              {% if portal.user.profile_url != false %}   
                <img class="profile-picture" src="{{ portal.user.profile_url }}" />
              {% else %}
                <img class="profile-picture" src="/images/fillers/profile_blank_thumb.gif" />
              {% endif %}
              <div class="dropdown" id="action-bar-toggle">
                <a class="dropdown-toggle profile-name" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">{{ current_user.name }}<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <a href="/support/profile/edit">Edit Profile</a>
                  <a href="/logout">Sign Out</a>
                </ul>
              </div>
            </div>
          {% else %}
            <a href="/support/tickets/new" class="header-tabs__link">Contact us</a>
            <a href="/support/login" class="header-tabs__link">Sign in</a>
            <a href="https://www.thinkific.com/signin/" class="x-btn x-btn-primary x-btn-sm">
              Get Started Free
            </a>
          {% endif %}
        </nav>

      </div>
    </header>
  {% endif %}


{% else %} 
  <header class="header">
    <div class="header__logo">
      {{ portal | logo : true }}
    </div>
  </header>
{% endif %}

