{% if portal.has_solutions %}
<section class="feature-links section--scheme-grey">
  <div class="feature-links__inner">
    <!-- {% assign category_names = "Getting Started,Your Account,Training & Community" | split:"," %} 
    {% for category in portal.solution_categories %}
      {% if category_names contains category.name %}
        <a href="{{ category.url }}" class="feature-links__card feature-{{ category.name | downcase }}">
          <img src="" class="feature-links__image" />
          <h3 class="feature-links__header">
            {{ category.name }}
          </h3>
          <h4 class="feature-links__description">
            {{ category.description }}
          </h4>
        </a>
      {% endif %}
    {% endfor %} -->
    <a href="solutions/160912" class="feature-links__card feature-your-account">
      <img src="https://s3.amazonaws.com/thinkific/file_uploads/626/images/067/872/771/getting-started.png" class="feature-links__image" />
      <h3 class="feature-links__header">
        Getting Started
      </h3>
      <h4 class="feature-links__description">
        Get to know Thinkific and its features, and check out our quickstart guides.
      </h4>
    </a>
    <a href="solutions/160913" class="feature-links__card feature-your-account">
      <img src="https://s3.amazonaws.com/thinkific/file_uploads/626/images/12e/449/421/your-account.png" class="feature-links__image" />
      <h3 class="feature-links__header">
        Your Account
      </h3>
      <h4 class="feature-links__description">
        Learn about your Thinkific account and how to manage admin access and billing.
      </h4>
    </a>
    <a href="solutions/160914" class="feature-links__card feature-your-account">
      <img src="https://s3.amazonaws.com/thinkific/file_uploads/626/images/f59/645/4ff/training-community.png" class="feature-links__image" />
      <h3 class="feature-links__header">
        Training &amp; Community
      </h3>
      <h4 class="feature-links__description">
        Find training and other resources to help you with course creation and marketing.
      </h4>
    </a>
  </div>
</section>
{% endif %}

<section class="popular-topics">
  <div class="popular-topics__inner">
    <h3 class="main-section-title">
      Popular Topics
    </h3>
    <div class="popular-topics__list">
      {% assign count = 0 %}      
        {% for category in portal.solution_categories %}
          {% for folder in category.folders %}
            {% for article in folder.articles %}
              {% for tag in article.tags %}
                  {% if tag.name == 'popular' %}
                    {% assign count = count | plus: 1  %}
                    {% if count <= 6 %}
                      <div class="popular-topics__item">
                        <h3 class="popular-topics__item-title">
                          <a href="{{ article.url }}">
                            {{ article.title }}
                          </a>
                        </h3>
                        <p class="popular-topics__item-description">
                          {{ article.body_plain | truncate: 100 }}
                          <a href="{{ article.url }}" class="popular-topics__item-link">
                            Read&nbsp;&#8594;
                          </a>
                        </p>                                          
                      </div>
                    {% endif %}
                  {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
    </div>
    <a href="{{ portal.solutions_home_url }}" class="x-btn x-btn-primary">
      View All Articles
    </a>
  </div>
</section>

<section class="home-video">
  <div class="home-videos__inner">
    <h3 class="main-section-title">
      Watch our tutorial to help you get started
    </h3>

    <div class="home-video__video-container">
      <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <iframe src="//fast.wistia.net/embed/iframe/566sukkk0d?videoFoam=true" 
                  title="Wistia video player" 
                  allowtransparency="true" 
                  frameborder="0" 
                  scrolling="no" 
                  class="wistia_embed" 
                  name="wistia_embed" 
                  allowfullscreen 
                  mozallowfullscreen 
                  webkitallowfullscreen 
                  oallowfullscreen 
                  msallowfullscreen 
                  width="100%" 
                  height="100%"></iframe>
        </div>
      </div>
      <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>
  </div>
</section>

<section class="home-contact-us">
  <div class="home-section__inner home-contact-us__inner">
    <h3 class="section-title">
      Can&rsquo;t find what you need? 
    </h3>
    <p>
      Our customer success team is here for you!
    </p>
    <a href="/support/tickets/new" class="x-btn x-btn-primary">Contact Us</a>
  </div>
</section>